/* FormComponent.module.scss */

.addProductForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  .group_label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #ffffff;
  }

  .input_field {
    flex: 1;
    padding: 12px;
    border: 1px solid #2b2b2b;
    outline: none;
    padding-left: 20px;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #ffffff;
    &:focus {
      border-color: #ffc107;
      outline: none;
      box-shadow: none; /* Remove the default blue glow */
    }

    &:disabled {
      background-color: #f2f2f2;
      cursor: not-allowed;
    }
  }

  .textarea_field {
    width: 100%;
    padding: 12px;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #ffffff;
    resize: none;

    &:focus {
      border-color: #ffc107;
    }
  }

  .submit_button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;

    &:hover {
      background-color: #b88a02;
    }
  }

  .thumbnail_preview {
    margin-top: 10px;
    max-width: 50%;
    height: auto;
    border-radius: 4px;
  }
}
