/* FormComponent.module.scss */

.addProductForm {
  display: flex;
  flex-direction: column;

  .group {
    margin: 20px;
    display: flex;
    // background-color: #007bff;
    gap: 10px;
    justify-content: space-around;
    input {
      padding: 12px;
      margin: 0 8px;
    }
  }

  .group_label {
    font-weight: bold;
    margin-bottom: 8px;
    justify-content: start;
    text-align: start;
    align-items: start;
  }

  .input_feild {
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    margin-top: 4px;
    &:focus {
      border-color: #ffc107;
    }
    &:disabled {
      background-color: #f2f2f2;
      cursor: not-allowed;
    }
  }

  .textarea_field {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    &:focus {
      border-color: #ffc107; /* Change border color on focus */
    }
  }

  .submit_button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b88a02;
    }
  }
}
