@import "./theme/theme.scss";

.container {
  color: rgb(255, 255, 255);
  background-color: rgb(31, 82, 99);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 20px; // Adjusted padding to reduce top and bottom spacing

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .title {
      margin: 20px 0; // Adjusted margin to reduce spacing at the top
      text-align: center;
    }
  }

  .thumbnail {
    width: 100%;
    max-width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  .details {
    width: 100%;
    max-width: 800px;

    .group {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      gap: 20px;

      .subGroup {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px;

        .head {
          font-weight: bold;
        }

        .body {
          font-weight: normal;
        }
      }
    }

    .description {
      margin-bottom: 20px; // Adjusted margin to reduce spacing at the bottom

      .head {
        font-weight: bold;
        text-align: start;
        margin-bottom: 8px;
      }

      .body {
        text-align: start;
      }
    }
  }

  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px; // Added margin to provide spacing below the title
  }

  @media screen and (max-width: 768px) {
    .thumbnail {
      width: 100%;
      max-width: 300px;
      height: auto;
    }

    .details {
      max-width: 100%;

      .group {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 10;
      }
    }

    .title {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 576px) {
    width: 400px;
    .thumbnail {
      width: 100%;
      max-width: 250px;
      height: auto;
    }

    .details {
      max-width: 100%;

      .group {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
      }
    }

    .title {
      font-size: 18px;
    }
  }
}
